{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="background-image-boy">
        <div class="left"></div>
        <div class="center">
            <div class="new_head">
                {% include 'girl_name/choose_b.html' %}
            </div>
            <div class="sort">
                <div class="sort-card">
                    <div class="card-side">
                        <a href="#">Sortowanie</a>
                    </div>
                    <div class="card-side card-side-back">
                        <a href="{% url 'set_cookie' 'name__name' %}">Nazwa ↓</a>
                        <a href="{% url 'set_cookie' '-name__name' %}">Nazwa ↑</a>
                        <a href="{% url 'set_cookie' '-choice_change_date' %}">Edycja ↓</a>
                        <a href="{% url 'set_cookie' 'choice_change_date' %}">Edycja ↑</a>
                    </div>
                </div>
            </div>
            <div class="choose" id="over_buttons">
                <h2 class="border-active"><a href="#">Tak</a></h2>
                <h2><a href="#">Nie</a></h2>
                <h2><a href="#">Może</a></h2>
            </div>
            <div class="wide-div">
                <ul id="ul-yes">
                    {% for boy in boys %}
                        {% if boy.choice == 0 %}
                            <li>
                                {{ boy.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul id="ul-no" class="d-none">
                    {% for boy in boys %}
                        {% if boy.choice == 1 %}
                            <li>
                                {{ boy.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul id="ul-maybe" class="d-none">
                    {% for boy in boys %}
                        {% if boy.choice == 2 %}
                            <li>
                                {{ boy.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="right"></div>

    </div>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
