{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="background-choose-boy">
        {% include 'girl_name/choose_b.html' %}
        <div class="profile-container">
            <h1>Na pewno zresetować Twoje wybory?</h1>
            <form method="post">
                {% csrf_token %}
                <div style="display: flex; justify-content: center">
                    <button class="btn-boy" type="submit">Tak</button>
                    <a href="{% url 'boys' %}" class="btn-boy" type="submit">Nie</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}